* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: burlywood;
    position: relative;
}

.container {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.header h1 {
    text-align: center;
}


.input input,
.input button {
    height: 30px;
}

.input button {
    width: 25%;
}

.input input {
    width: 75%;
}

button:hover {
    background-color: chocolate;
    color: white;
}

li,
ul {
    width: 100%;
}

ul {
    line-height: 1.5em;
}

li > button {
    position: fixed;
    left: 90%;
    text-align: right;
}