* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: powderblue;
    font-size: large;
    text-align: center;
}

button {
    width: 25%;
}

table {
    width: 100%;
}

button {
    height: 4vh;
    width: 5vw;
    background-color: red;
    border: none;
    color: white;
    font-size: x-large;
    margin: 10px;
}

.total {
    font-size: x-large;
}