* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    height: 85vh;
    align-items: center;
    background-color: darkblue;
    border-radius: 40px;
}

.container > div {
    text-align: center;
    font-size: x-large;
}

.input {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 28vh 28vh 28vh;
    }
    .container > div {
        font-size: large;
    }
}