* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #ADEFD1FF;
}

.container {
    display: grid;
    /* grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw; */

    height: 80vh;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 4px;
    background-color: #00203FFF;
    border-radius: 40px;
}

.container > div {
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: bold;
    padding: 0px 2px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 3vh 0vh;
}

button {
    padding: 1.5vh 3.5vh;
    font-size: large;
    background-color: #008CBA;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    color: #008CBA;
}

.section {
    text-align: center;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 17vw 17vw 17vw 17vw 17vw 17vw 17vw 17vw 17vw;
    }
    .container > div {
        font-size: large;
    }
}
