body {
    background-color: aliceblue;
}

.hero {
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: black;
}

.about {
    height: 70vh;
    width: 100vw;
}

.know {
    height: 100vh;
    width: 100vw;
}

.container {
    margin-top: 10vh;
}

footer {
    background-color: black;
    color: white;
    margin-top: 0vh;
}

.about-hero {
    max-width: 30vw;
}