details {
    background: white;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}

body {
    background-color: aliceblue;
}

.container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.hero-text {
    text-shadow: 2px 2px #ff0000;
}

.hero {
    background: url("assets/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 2700px;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.about {
    height: 70vh;
    width: 100vw;
}

.know {
    height: 100vh;
    width: 100vw;
}

#footer {
    background-color: black;
    color: white;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.about-hero {
    max-width: 30vw;
}

p.h1 {
    margin-bottom: 3vh;
}

.hero-img {
    max-width: 20vw;
}

nav {
    background-color: white;
    color: black;
}

.handshake {
    max-width: 25vw;
    max-height: 40vh;
}

.dr-logo {
    max-width: 5rem;
}

.links {
    padding-right: 25vh;
    padding-top: 3vh;
    margin-right: 0vh;
    margin-top: 0vh;
}

/* @media (max-width: 360px) {
    .team {
        margin-top: 300vw;
    }
} */

@media (min-width: 360px) and (max-width: 480px) {
    .about-hero {
        max-width: 90vw;
    }

    .handshake {
        max-width: 90vw;
    }

    .links {
        padding-right: 0vh;
        padding-top: 0vh;
        margin-right: 25vh;
        margin-top: 3vh;
    }

    .contact_cards {
        margin-left: 3vh;
        margin-right: 3vh;
    }
}